.aplications {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  padding: 1em;
}
.photography {
  list-style-image: url("../../images/linkStyle.svg");
}
.websites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-image: url("../../images/linkStyle.svg");
}
