.mission-statement {
  grid-row: 3/-1;
  grid-column: 1/4;
}
.fan-facts {
  grid-row: 3/-1;
  grid-column: 4/-1;
}
.aplications {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  padding: 1em;
}
.photography {
  list-style-image: url("../../images/linkStyle.svg");
}
.websites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-image: url("../../images/linkStyle.svg");
}
