.hero-poster {
  position: relative;
  background-image: url(../../../images/sunburst.png);
  min-height: 796px;
  background-position: center top;
  background-repeat: no-repeat;

  background-color: #2cc26b;
  overflow-x: hidden;

  width: 100%;
}
.hero-poster-cta {
  position: absolute;

  min-height: 270px;
  width: 100%;
  background: #ffffff;
  z-index: 5;
  bottom: 0;
  left: 0;
}
.hero-poster-cta p {
  margin-bottom: 2em;
  color: #b4b3b3;
  text-align: center;
}

.hero-poster-macbook {
  position: absolute;
  width: 280px;
  top: 46%;
  right: 9%;
  z-index: 50;

  opacity: 0;
  animation: opacityFadeIn 2s none;
  animation-fill-mode: forwards;
}
.hero-poster-iphone {
  position: absolute;
  width: 200px;
  left: 30%;
  z-index: 0;
  bottom: 35%;
  /* /// */

  opacity: 0;

  animation: opacityFadeIn 2s none;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.hero-poster-ipad {
  position: absolute;
  width: 200px;
  z-index: 20;
  top: 29%;
  right: 40%;

  /* /// */

  opacity: 0;

  animation: opacityFadeIn 2s none;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.cta-flex {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: opacityFadeIn 2s none;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@media (min-width: 800px) {
  .hero-poster-macbook {
    width: 600px;
    height: auto;

    top: 30%;
    left: 25%;
    z-index: 10;
  }
  .hero-poster-ipad {
    width: 330px;
    height: auto;
    top: 13%;
    right: 40%;
    z-index: 15;
  }
  .hero-poster-iphone {
    width: 130px;
    height: auto;
    left: 57%;
    bottom: 26.5%;
    z-index: 20;
  }
  .hero-poster {
    background-position: center;
    background-size: 190%;
  }
}

@keyframes opacityFadeIn {
  0% {
    opacity: 0;
  }
  1% {
    display: block;
  }

  100% {
    opacity: 1;
  }
}
