.hero-poster {
  position: relative;
  background-image: url(../../../images/sunburst.png);
  min-height: 796px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 190%;
  background-color: #2cc26b;

  width: 100%;
}
.hero-poster-cta {
  position: absolute;

  min-height: 270px;
  width: 100%;
  background: #ffffff;
  z-index: 5;
  bottom: 0;
  left: 0;
}
.hero-poster-cta p {
  margin-bottom: 2em;
  color: #b4b3b3;
  text-align: center;
}
.devices-container {
  max-width: 1000px;

  padding: 0 2em;
  margin: 0 auto;

  right: calc(50% - 425px);
  top: 25%;
}

.hero-poster-macbook {
  position: absolute;
  width: 600px;
  height: auto;

  top: 30%;
  left: 25%;
  z-index: 10;
  opacity: 0;
  animation: opacityFadeIn 3s none;
  animation-fill-mode: forwards;
}
.hero-poster-iphone {
  position: absolute;

  width: 130px;
  height: auto;
  left: 57%;
  bottom: 26.5%;
  z-index: 20;
  opacity: 0;

  animation: opacityFadeIn 3s none;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
.hero-poster-ipad {
  position: absolute;
  width: 330px;
  height: auto;
  top: 13%;
  right: 40%;
  z-index: 15;
  opacity: 0;

  animation: opacityFadeIn 3s none;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.cta-flex {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: opacityFadeIn 3s none;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}
@media (max-width: 750px) {
  .hero-poster-macbook {
    width: 300px;
    z-index: 200;
    top: 52%;
  }
}
@media (max-width: 600px) {
  .hero-poster-macbook {
    width: 300px;
    top: 41%;
    z-index: 50;
  }
  .hero-poster-ipad {
    width: 200px;
    z-index: 20;
    top: 25%;
  }
  .hero-poster-iphone {
    width: 200px;
    left: 30%;
    z-index: 0;
    bottom: 39%;
  }
  .hero-poster {
    background-position: center top;
  }
}

@keyframes opacityFadeIn {
  0% {
    opacity: 0;
  }
  1% {
    display: block;
  }

  100% {
    opacity: 1;
  }
}
