.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  align-self: center;
  cursor: pointer;
}
.services {
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.service:hover {
  background-color: #dadada;
}
.full-width-gray {
  width: 100%;
  background-color: #efefef;
}
/* media about page */
@media (min-width: 600px) {
  /* /// */
  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    align-self: center;
    cursor: pointer;
  }

  .service h4,
  a {
    text-decoration: none;
    color: inherit;
  }

  .services-container {
    padding-bottom: 2em;
  }
  .services {
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .service h4 {
    display: block;
  }
}
