@font-face {
  font-family: ("Myriad Pro Regular");
  font-style: normal;
  font-weight: normal;
  src: local("MYRIADPRO-REGULAR.woff") format("woff");
}

body {
  font-family: "Myriad Pro";
  font-weight: 300;
}
