@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Myriad Pro"),
    url("https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff")
      format("woff");
}
/* @font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Myriad Pro"),
    url("https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff")
      format("woff");
} */

body {
  font-family: "Myriad Pro";
  font-weight: 400;
}
.logo h2 {
  color: #737373;
  font-weight: 300;
  font-size: 1.4rem;
}
.nav-bar__tab {
  color: #737373;
}
.nav-bar__tab:visited {
  color: none;
}
.current-page {
  color: #2ecc71;
}
.hero-footer {
  color: white;

  text-transform: capitalize;
}
.hero-footer h2 {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.copyright {
  color: #b5b5b5;
}
.nav-bar-footer__tab {
  color: #dadada;
  text-decoration: none;
}
