@font-face {
  font-family: "Novecento DemiBold";

  src: url("/src/styles/fonts/Novecento\ DemiBold.ttf");
}
@font-face {
  font-family: "Novecento WideNormal";

  src: url("/src/styles/fonts/Novecento\ WideNormal.ttf");
}

@font-face {
  font-family: "Novecento HelveticaMedium";

  src: url("/src/styles/fonts/Helvetica\ Neue\ UltraLight.ttf");
}
body {
  font-family: "Novecento DemiBold";
  font-weight: 300;
}
.logo {
  width: 150px;
  margin-top: 1em;
}
.logo h2 {
  color: #737373;
  font-weight: 300;
  font-size: 18px;
  margin-left: 6px;
}

.nav-bar__tab {
  color: #737373;
}
.nav-bar__tab:visited {
  color: none;
}
.current-page {
  color: #2ecc71;
}
.hero-footer {
  color: white;

  text-transform: capitalize;
}
.hero-footer h2 {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.copyright {
  color: #b5b5b5;
}
.nav-bar-footer__tab {
  color: #dadada;
  text-decoration: none;
}

/* about page */

.roboto-font {
  font-family: "Roboto", sans-serif;
}
.about-page,
.contact-page,
.contact-page input textarea * {
  color: #8a8888;
}
.hero-button {
  font-family: "Novecento DemiBold";
  font-size: 0.85rem;
}
.main-title {
  font-family: "Novecento WideNormal";
}
.about-page p,
.contact-page p,
.about-page li {
  font-family: "Roboto";
}
/* contact page */

.contact--input[type="text"]::placeholder,
.contact--input[type="email"]::placeholder {
  font-family: "Roboto";
  font-size: 0.9rem;
  color: #8a8888;
}
.contact--input[type="text"],
.contact--input[type="email"] {
  font-family: "Roboto";

  font-size: 0.9rem;
  color: #8a8888;
}

/* work-page */

.work-list-description h2,
p {
  color: #737373;
}
.work-list-description p {
  font-family: "Roboto";
  font-size: 1.2rem;
}
