.social-media-icon {
  width: 36px;
  cursor: pointer;
}
header {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr;
  color: #dadada;
}

.social-media {
  display: flex;
  justify-content: start;
  grid-row: 2/3;

  align-self: flex-end;
}
@media (min-width: 600px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 2/-1;
    align-self: end;
    justify-self: end;
  }
}

.dribbble-svg:hover,
.dribbble-svg:focus {
  color: #ea4c89;
  fill: currentColor;
}
.gplus-svg:hover,
.gplus-svg:focus {
  color: #db4a39;
  fill: currentColor;
}
.pinterest-svg:hover {
  color: #e60023;
  fill: currentColor;
}
.webfeed-svg:hover,
.webfeed-svg:focus {
  color: #ee802f;
  fill: currentColor;
}
.facebook-svg:hover,
.facebook-svg:focus {
  color: #3b5998;
  fill: currentColor;
}
.twiter-svg:hover,
.twiter-svg:focus {
  color: #00acee;
  fill: currentColor;
}
