.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
}

@media (min-width: 600px) {
  .copyright {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
